<%- include('../partials/header') %>
<script defer src="/javascripts/script.js"></script>
<body>
  <div class="navbar-fixed">
    
  </div>
  <ul>Registered Users:
    <% users.forEach(u => { %>
      <a href="/users<%= u._id %>">
      <%= u.name %></a> - Joined on <% u.createdAt.toLocaleString()
      .split(',')[0] %>
    <% }) %>
  </ul>
<br><br><br><br>

  <h2>Are you in tune? </h2>
  <p>It sounds like you're playing...</p>
  <h1 id="note-name"></h1>
  <p>
      <span>frequency (Hz):</span>
      <span id="frequency"></span>
  </p>
  <hr>
  <button id="play-note">Click for an 'E'</button>
  <hr>
</body>
</html>

