<nav>
    <div class="nav-wrapper">
      <a href="/users/goals" class="brand-logo left">My Goals</a>
      <a href="/users/questions" >Ask A Question</a>
    </div>
  </nav>

  <body>
      <h2 class="table">Set a New Goal!</h2>
      <form class="table" action="/users" method="POST">
    <label> Goal
            <input type="text"><br>
    </label><br>
    <label>Challenges
        <input type="text">
        <br><br>
    </label>
    <label> Start Date
        <input type="date">
    </label><br> <br>
    <label> Due Date
        <input type="date">
    </label>
    <br><br>
    <button><a type="button" class="btn btn-info" href="/users/goals">Submit</a></button>
    </form>
  </body>

