<nav>
    <div class="nav-wrapper">
      <a href="/users/goals" class="brand-logo left">My Goals</a>
      <a href="/users/questions" >Ask A Question</a>
    </div>
  </nav>

  <body>
      <h2 class="table">Set a New Goal!</h2>
      <form class="table" action="/users" method="POST">
    <label> Goal
        <select name="goal">
            <input type="text">
        </select>
    </label>
    </form>
  </body>

