<%- include('../partials/header') %>
<script src="/javascripts/script.js"></script>
    <title>Lessons Tracker</title>
</head>
<body>
    
    <p>It sounds like you're playing...</p>
    <h1 id="note-name"></h1>
    <p>
        <span>frequency (Hz):</span>
        <span id="frequency"></span>
    </p>
    <hr>
    <button id="play-note">start/stop an E note</button>
    <hr>



    
</body>
</html>