


<h3>Ask a Question</h3>
<form action="/users/questions" method="POST">
  <div class="form-group">
    <input required type="text" class="form-control" aria-describedby="message" name="question" placeholder="Enter question...">
  </div>
  <button type="submit" class="btn btn-success">Create Post</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Asked By</th>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        <% if(question !== null) { %> 
        <% question.forEach((q) => { %> 
        <tr>
            <td><form action="/questions/<%= q.id %>" method="POST"></form></td>
            <td><%= q.askedBy %></td>
            <td><%= q.question %> </td>
        </tr>
    
     <% }) }%>
    </tbody>
</table>
