


<h3>Ask a Question</h3>
<form action="/messages" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" aria-describedby="message" name="title" placeholder="Enter message...">
  </div>
  <button type="submit" class="btn btn-success">Create Post</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Asked By</th>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        <% question.forEach((q) => { %> 
        <tr>
            <td><form action="/questions/<%= q.id %>" method="POST"></form></td>
            <td><%= q.askedBy %></td>
            <td><%= q.question %> </td>
        </tr>
     <% }) %>
    </tbody>
</table>